<!DOCTYPE html>
<html lang="ar" dir="rtl">  
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<title>Ionic Project</title>

		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="assets/css/style.css" rel="stylesheet" />
		
	</head>

    <body>

		<div class="header header-black">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">	
				<td class="settings" ng-hide="user_parent"   ng-click="#/newplan" ng-class="{'title' : edit}">
				   <a href="#/" class="icon-back icon"><img src="images/arrow-back2.png" alt="Back"></a>
				</td>	
				<td  class="title" align="center"><h2>عن التطبيق</h2></td>
				<td align="right" class="settings" >
					<a ng-click="showNav()"> <img  src="images/icon-menu.png"  alt="" /></a>
				</td>
				</tr>
			</table>
		</div>

		<!-- Main Container Starts Here -->	
		<div class="container-fliud" id="main">

			<!-- About Page First section Starts Here -->	
			<section class="row about">
				<div class="col-md-12 col-sm-12 col-xs-12 about-block">
					<h2>ما هو سجل متابعة الطلاب ؟</h2>
					<p>هو عبارة عن تطبيق يتيح للإدارة المدرسة متابعة حالة الطالب أثناء الدوام المدرسي بشكل ماشبر مما يكون له أبلغ الأثر في قياس مدى إلتزام الطالب في حضور الحصص الدراسية وهذا ينعكس بالإيجاب على التحصيل الدراسي للطالب. كما يسمح لمشرف الجناح التفرغ التام لمتابعة الحالات السلوكية لدى الطلاب ويمكن للإدارة المدرسية من طباعة تقارير فورية لاحصائية الغياب اليومية بالإضافة لكشوفات غياب الفصول. وأيضاً يمكن للإدارة المدرسية من التواصل مع أولياء الأمور عن طريق الرسائل الخاصة كما يسمح التطبيق لولي الأمر بمتابع الصحيفة السلوكية لابناءه الطلاب.</p>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 about-block">
					<h2>مميزات التطبيق ؟</h2>
					<ul>
						<li> توفير استخدام الورقيات وحبر الطابعات. </li>
						<li> الحد من الظواهر السلبية داخل المبنى المدرسي. </li>
						<li>  إمكانية احتساب تأخير الطلاب عن طابور الصباح تلقائياً. </li>
						<li> تسجيل غياب الطلاب أثناء الحصه الدراسيه من قبل المعلم بشكل مباشر. </li>
						<li> عند تسجيل الغياب من قبل المعلم يتم اضافة اسم المعلم إلى رقم الحصة تلقائياً. </li>
						<li> توفير الوقت والجهد في تسجيل الغياب من قبل المعلم مما ينعكس بالإيجاب على أداء المعلم داخل الحصه الدراسيه والتحصيل الدراسي للطالب داخل الفصل. </li>
						<li> يمكن لمشرف الجناح المكلف به تعديل الغياب في حالة وقوع خطأ. </li>
                        <li> يتيح لمشرف الجناح المكلف به بإضافة ملاحظات بجانب ايام الغياب لتبيان سبب الغياب عن الحصة الدراسية. </li>
						<li> يسمح لمشرف الجناح المكلف به بإدخال الطلاب المتأخير عن طابور الصباح.</li>
						<li> طباعة تقارير الغياب اليومي للفصول.</li>
						<li> طباعة احصائية الغياب اليومية مباشرة بعد إدخال غياب الحصة الأول.</li>
						<li> إمكانية التواصل مع أولياء الأمور عن طريق الرسائل الخاصة.</li>
						<li> يسمح لولي الأمر بمتابعة الصحيفة السلوكية لابناءه الطلاب.</li>
						<li> يسمح بإصدار الفصل السلوكي للطالب والطبيات. </li>
						<li> قسم خاص بالأخبار لنشر أنشطة وفعاليات المدرسة. </li>
						<li> تعدد الصلاحيات فكل حساب له مميزاته الخاصة.</li>
					</ul>
				</div>
			</section><!-- About Page First section Ends Here -->	


		</div><!-- Main Container Ends Here -->	

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery-migrate.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

	</body>
		
		
</html>