<!DOCTYPE html>
<html lang="ar" dir="rtl">  
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<title>Ionic Project</title>
		<link href="assets/css/style.css" rel="stylesheet" />
		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

		
	</head>
    <body>
		
		<div class="header header-black">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>	
					<td class="settings" ng-hide="user_parent"   ng-click="#/newplan" ng-class="{'title' : edit}">
						<a href="#/" class="icon-back icon"><img src="images/arrow-back2.png" alt="Back"></a>
					</td>	
					<td  class="title" align="center"><h2>اتصل بنا</h2></td>
					<td align="right" class="settings" >
						<a ng-click="showNav()"> <img  src="images/icon-menu.png"  alt="" /></a>
					</td>
				</tr>
			</table>
		</div>

		<!-- Main Container Starts Here -->	
		<div class="container-fliud" id="contactMain">

			<!-- Contact Form Starts Here -->	
			<section class="row contact">
					<!-- action="contact.php" method="POST" -->
				<form  class="form">
					<input type="text" style="direction:rtl;" class="form-control" maxlength="15" name="name" ng-model="f1" placeholder="الاسم كاملاً">
					<span style="color:red" ng-show="namev">يجب أن لا يزيد عدد الحروف عن 15 حرف</span>
					<input type="text"  style="direction:rtl;"  class="form-control" name="name1" ng-model="f2" placeholder="البريد الإلكتروني">
					<span style="color:red" ng-show="emailv">الرجاء إدخال البريد الإلكتروني بصورة صحيحة</span>
					<input type="text"  style="direction:rtl;"  class="form-control"  maxlength="30" name="name2" ng-model="f3" placeholder="عنوان الرسالة">
					<span style="color:red" ng-show="titlev">يجب أن لا يزيد عدد الحروف عن 30 حرف</span>
					<textarea name="message" id=""  style="direction:rtl;"  cols="30" rows="10" class="form-control" ng-model="f4" placeholder="نص الرسالة"></textarea>
					<span style="color:red" ng-show="msgv">الرجاء إدخال نص الرسالة</span>
					<div class="col-md-12 col-sm-12 col-xs-12 left">
						<button ng-click="sendcontact()"><img src="assets/img/send.png" alt=""></button>		
					</div>
						
				</form>
			</section><!-- Contact Form Ends Here -->

			
			
		</div><!-- Main Container Ends Here -->

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery-migrate.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

	</body>
		
		
</html>