<!DOCTYPE html>
<html lang="ar" dir="rtl">  
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<title>Ionic Project</title>

		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="assets/css/style.css" rel="stylesheet" />
		
	</head>
    <body >
		
		<div class="header header-black">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>	
					<td class="settings" ng-hide="user_parent"   ng-click="#/newplan" ng-class="{'title' : edit}">
						<a href="#/" class="icon-back icon"><img src="images/arrow-back2.png" alt="Back"></a>
					</td>	
					<td  class="title" align="center"><h2>الأخبار</h2></td>
					<td align="right" class="settings" >
						<a ng-click="showNav()"> <img  src="images/icon-menu.png"  alt="" /></a>
					</td>
				</tr>
			</table>
		</div>

		<!-- Main Container Starts Here -->	
		<div ng-show="newstap" >

			
		<div  ng-hide="popupflag"  ng-init="loadnews()" class="container-fliud"   id="main"   >

			<!-- on-scroll-to-bottom-load-more="loadmore()"  on-scroll-to-bottom="test()" -->
			<!-- <div class="post-wrapper" ng-repeat="i in news"> -->
					<div>
						<p ng-repeat='res in results'> {{res.txt}}</p>
					</div>
					<div class="post-wrapper" >
					<!-- <ion-content>
							
								  <ion-list>
									<ion-item ng-repeat="item in data.items">
									  {{item.title}}
									  <br>
									</ion-item>
								  </ion-list>
							
								  <ion-infinite-scroll on-infinite="onInfinite()" distance="5px"></ion-infinite-scroll>
							
								</ion-content> -->
			

				<!-- Individual News Starts Here -->	
				
				<div class="row" id="post" ng-repeat="i in data.items">
						<div class="col-md-12 col-sm-12 col-xs-12 info">
							<p class="time">{{i.ago}}</p>
							<div class="avatar">
									
								<!-- <div ngif="{{i.school_logo != ""}}">
								 <img src="assets/img/admin.jpg" alt="">
								</div> -->
								<!-- {{ConditionVar ? 'varIsTrue' : 'varIsFalse'}} -->
								<!-- <div ngif = "{{i.school_logo}}"> -->
									<div ng-show="{{i.school_logo ? 'true' : 'false'}}">
									<img src="http://webapp.ws/s3d1/uploads/{{i.school_logo}}" alt="">
								</div>
								<div ngelse="{{i.school_logo}}">
									<img src="images/logo.png" alt="">
								</div>
	
							</div>
							<div class="headings" style="direction:rtl;">
								<h1>{{i.school_name}}</h1>
								<h2>{{i.detail}}</h2>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 contents"  style="direction:rtl;">
							<!--<h3>عنوان آخر مكتوب هنا وعنوانه أكثر جرأة</h3>-->
							<p>{{i.content}}</p>
							
							<!--<img class="post-imge" src="http://webapp.ws/s3d1/uploads/{{i.news_image}}" alt="" ng-click="popup('http://webapp.ws/s3d1/uploads/{{i.news_image}}')">-->
							<img class="post-imge" src="http://webapp.ws/s3d1/uploads/{{i.news_image}}" alt="">
							
						</div>
						<!--<div class="col-md-2 col-sn-2 col-xs-2 contents"  style="direction:rtl;"></div>-->
					</div>
				<!-- Individual News Ends Here -->	


					

				
			</div><!--  News Wrapper Ends Here -->	

		</div>
		<div ng-show="popupflag" >
			<img style="margin-top: 100px;width: 100%;height: 100%; object-fit: cover;" src="{{imgpopup}}" />
		</div>
	</div>
		<!-- Main Container Ends Here -->
		<!-- Main Container for aboutus Starts Here -->	
		<div ng-show="aboutus" class="container-fliud" id="main">
			
						<!-- About Page First section Starts Here -->	
						<section class="row about">
							<div class="col-md-12 col-sm-12 col-xs-12 about-block">
								<h2>ما هو سجل متابعة الطلاب ؟</h2>
								<p>هو عبارة عن تطبيق يتيح للإدارة المدرسة متابعة حالة الطالب أثناء الدوام المدرسي مما
								 يكون له أبلغ الأثر في قياس مدى إلتزام الطالب في حضور الحصص الدراسية وهذا ينعكس بالإيجاب على التحصيل الدراسي للطالب.
								 كما يسمح لمشرف الجناح التفرغ التام لمتابعة الحالات السلوكية لدى الطلاب ويمكن للإدارة المدرسية من طباعة
								 تقارير فورية لاحصائية الغياب اليومية بالإضافة لكشوفات غياب الفصول. وأيضاً يمكن للإدارة المدرسية من التواصل مع
								 أولياء الأمور عن طريق الرسائل الخاصة كما يسمح التطبيق لولي الأمر بمتابع الصحيفة السلوكية لابناءه الطلاب.</p>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 about-block">
								<h2>مميزات التطبيق ؟</h2>
								<ul>
									<li> تعدد الصلاحيات فكل حساب له مميزاته الخاصة. </li>
									<li> عند تسجيل الغياب من قبل المعلم يتم اضافة اسم المعلم إلى رقم الحصة تلقائياً. </li>
									<li> يتيح لمشرف الجناح المكلف به بإضافة ملاحظات بجانب ايام الغياب لتبيان سبب الغياب عن الحصة الدراسية. </li>
									<li> طباعة تقارير الغياب اليومي للفصول. </li>
									<li> طباعة احصائية الغياب اليومية مباشرة بعد إدخال غياب الحصة الأولى. </li>
									<li> إمكانية التواصل مع أولياء الأمور عن طريق الرسائل الخاصة. </li>
									<li> يسمح لولي الأمر بمتابعة الصحيفة السلوكية لابناءه الطلاب. </li>
									<li> إمكانية اضافة بيانات المعلمين والطلاب من سجل الطالب إلى لوحة تحكم البرنامج مباشرة.</li>
								</ul>
							</div>
						</section><!-- About Page First section Ends Here -->	
			
			
					</div><!-- Main Container Ends Here -->	
		<!-- <ion-infinite-scroll on-infinite="onInfinite()" distance="5px"></ion-infinite-scroll> -->
	



		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery-migrate.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

	</body>
		
		
</html>