<!DOCTYPE html>
<html lang="ar" dir="rtl">  

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Pricing Demos : Horizontal</title>
		
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald|Roboto:300,400,500,700" rel="stylesheet">
		<link href="subscribe/css/style.css" rel="stylesheet" />
	</head>

  <body>
        <!-- <div class="header1" ng-init="getnews()">
                
                <a href="#/" class="icon-back icon"><img src="assets/img/arrow.png" alt="Back"></a>
               </div> -->
               <div class="header header-black">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="settings" ng-hide="user_parent"   ng-click="#/newplan" ng-class="{'title' : edit}">
                          <!-- <img ng-show="!edit" src="images/icon-settings2.png"  alt="" />
                          <h2 ng-show="edit" >{{editButtontext}}</h2> -->
                         <!-- <a href='#/'> <img src="assets/img/arrow.png" alt="Back" /></a> -->
                         <a href="#/" class="icon-back icon"><img src="images/arrow-back2.png" alt="Back"></a>
                      </td>
          
                          <td  class="title" align="center"><h2>اشتراك</h2></td>
                        
                          <td align="right" class="settings" >
                            <a ng-click="showNav()"> <img  src="images/icon-menu.png"  alt="" /></a>
                          </td>
       
                      </tr>
                  </table>
              </div>
      <!-- ::: Price Box Wrapper :::-->
			<div class="price-wrapper" style="margin-top: 50px;">

				<ul class="primary-design">
          <!-- ::: Individual Pricing Box starts Here :::-->
					<!-- <li class="price-block"> -->
            <!-- <div class="price-header"><p>الاشتراك الشهري</p></div>
						<div class="price-box">
              <div class="mask"></div>
							<div class="content">
								<p class="price">6<span> دنانير</span></p>
								<p class="plan">في الشهر</p>
							</div>
						</div>
						<div class="purchase-button">
							<button ng-click="register(6,'الاشتراك الشهري')" class="type">اشترك</button>
						</div> -->
          <!-- </li> -->
          <!-- ::: Individual Pricing Box Ends Here :::-->
          
           <!-- ::: Individual Pricing Box starts Here :::-->
          <!-- <li class="price-block"> -->
            <!-- <div class="price-header"><p>اشتراك 6 أشهر</p></div>
            <div class="price-box">
              <div class="mask"></div>
              <div class="content">
                <p class="price">29<span> دينار</span></p>
                <p class="plan">خصم %15</p>
              </div>
            </div>
            <div class="purchase-button">
              <button ng-click="register(29,'اشتراك 6 أشهر')" class="type">اشترك</button>
            </div> -->
          <!-- </li> -->
          <!-- ::: Individual Pricing Box Ends Here :::-->
          

          <!-- ::: Individual Pricing Box starts Here :::-->
          <li class="price-block" ng-repeat="i in plansall">
            <div class="price-header"><p>اشتراك {{i.duration}} يوم</p></div>
            <div class="price-box">
              <div class="mask"></div>
              <div class="content">
                <p class="price" dir="rtl">{{i.amount}}<span> د.ك</span></p>
                <!-- <p class="plan">خصم %35</p> -->
                <p class="plan">{{i.title}}</p>
              </div>
            </div>
            <div class="purchase-button">
              <button ng-click="register({{i.amount}},'اشتراك 12 شهر')" class="type">اشترك</button>
            </div>
          </li><!-- ::: Individual Pricing Box Ends Here :::-->

				</ul>

      </div><!-- ::: Price Wrapper Ends :::-->
      
      <div class="alert alert-info" role="alert" dir="rtl">
        
					<h4>الشروط والأحكام :</h4>
					<ul>
            <li> النظام مخصص للاستخدام في مدارس دولة الكويت. </li>
            <li> عملية الدفع تتم باستخدام موقع وتطبيق Paypal. </li>
            <li> القيمة المدفوعه بالدينار الكويتي وغير قابلة للاسترداد. </li>
            <li> عند إتمام عملية الدفع سوف تصلك رسالة إلى البريد الإلكتروني الخاص بك تحتوي على مزيد من المعلومات لاستخدام النظام. </li>
						<li> في حالة وجود شكوى أو مقترحات يرجى مراسلة مشرف النظام للمزيد من المعلومات. </li>
					</ul>
				</div>
      

	</body>
</html>