<div class="sidemenu-overlay" ng-click="hideSideMenu()">
	<div class="right-menu">
		<div class="user-name-bg">
			<div class="user-logo"><img src="{{schlogo}}"  alt=""></div>
		</div>
		<div class="links">
			<!--<a href="#/">تسجيل الدخول<img src="images/ico-login.png"  alt=""></a>-->
			<a href="#/indexpage">الأخبار<img src="images/ico-news.png"  alt=""></a>
			<!--<a href="#/newplan" >اشتراك<img src="images/ico-school-yellow.png"  alt=""></a>-->
			<a href="#/about">عن التطبيق<img src="images/ico-aboutus.png"  alt=""></a>
			<a href="#/contact">اتصل بنا<img src="images/ico-message.png"  alt=""></a>
		</div>
	</div>
</div>