<!DOCTYPE HTML>
<html ng-app="attendance">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{title}}</title>


<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/tab_portrait.css" rel="stylesheet" type="text/css" />
<link href="css/mob_landscape.css" rel="stylesheet" type="text/css" />
<link href="css/mob_portrait.css" rel="stylesheet" type="text/css" />
<link href="css/mob_sm.css" rel="stylesheet" type="text/css" />
<link href="css/sliding.css" rel="stylesheet" type="text/css"/>
 <!--<link href="css/ionic.app.css" rel="stylesheet">
<link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->

<!-- styles vendors library -->
<link href="vendors/loader/loader.css" rel="stylesheet" type="text/css"/>
<link href="vendors/calender/css/fullcalendar.css" rel="stylesheet" type="text/css"/>
<link href="vendors/popup/popup.css" rel="stylesheet" type="text/css"/>
<link href="vendors/slider/blueberry.css" rel="stylesheet" type="text/css"/>


<!-- scripts core library -->

<script type="text/javascript" src="js/angular/angular.js"></script> 
<script type="text/javascript" src="js/angular/angular-route.min.js"></script> 
<script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
<script src="vendors/calender/js/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/angular/jquery-2.1.1.min.js"></script>

<!-- scripts vendors library -->
<script src="vendors/loader/jquery.isloading.min.js" type="text/javascript"></script>
<script src="vendors/calender/js/ui-bootstrap-tpls-0.9.0.js" type="text/javascript"></script>
<script src="vendors/calender/js/fullcalendar.js" type="text/javascript"></script>
<script src="vendors/calender/js/ng-calendar.js" type="text/javascript"></script>
<!--<script src="vendors/calender/js/lang-all.js" type="text/javascript"></script>-->
<script src="vendors/popup/popup.js" type="text/javascript"></script>
<script src="vendors/slider/jquery.blueberry.js" type="text/javascript"></script>
<script src="https://use.fontawesome.com/8a44b321c3.js"></script>
<!-- scripts my library -->
<script type="text/javascript" src="js/app.js"></script> 
<script src="js/web-services.js" type="text/javascript"></script>
<script src="js/factories.js" type="text/javascript"></script>
<script src="js/services.js" type="text/javascript"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<!-- paypal integration  -->
<script src="js/paypal-mobile-js-helper.js"></script>
<script src="js/cdv-plugin-paypal-mobile-sdk.js"></script>
         <script src="js/payPalService.js"></script>
         <script src="lib/ionic/js/ionic.bundle.js"></script>
         <script src="js/ng-cordova.min.js"></script>
         <script src="cordova.js"></script>

<script src="js/callender-controller.js" type="text/javascript"></script>
</head>
    <body>
        <!--<div class="page {{ pageClass }}" ng-view=""></div>-->
        <div class="page {{pageClass}}">
            <div ng-include="'templates/settings.html'" ></div>
            <div ng-include="'templates/sidemenu.html'" ></div>
            <div class="" ng-view="" ></div>
        </div>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="cordova_plugins.js"></script>
    </body>
</html>
