@charset "utf-8";



/* CSS Document */







/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media (min-width:901px){
	.login .container{
		padding:50px 5%;
	}
	.login .container .flds .row:before{
		background-size: 63% !important;
		right: -21px !important;
	}
	.login .container .flds .row:last-child:before{
		right: -20px !important;
	}
	.login .container .flds .row input{
		width: 92% !important;
		padding: 0px !important
	}
	.row.selectIcon select{
		width: 100% !important;
		padding-right:0px;
     margin-right: -10px;
	}
	.attendance .heading .no{
		background-size: auto 60%;
	}
	.attendance .row .chk.giveAttendanceChk{
		background-size:55px;
	}
	.footer .btn-attendance a {
	    padding: 17px 8px;
	    font-size: 25px;
	}
	.attendance .heading .no .img{
	    
	}
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
	.row.selectIcon select{
	    padding-right:40px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
	.row.selectIcon select{
	    padding-right:10px;
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
	.login .container .flds .row input{
		padding: 0%;
		width: 90%;
	}
	.login .container .flds .row:before{
		width: 7% !important; 
	}
	.attendance .row .chk.giveAttendanceChk{
		background-size:50px;
	}
	.attendance .row .chk.giveAttendanceChk {
	    padding: 4% 1%;
	}
	.attendance .heading .no {
	    background-size: auto 80%;
	}
	.attendance .heading .no .img{
	   top: 10px;
	   margin-left: -35px;
	}
	.attendance .heading .no .img img {
	    width:17px;
	}
	.footer .btn-attendance a {
	    padding:15px 8px;
	    font-size:23px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {



body{font-size:16px;}

#post {
    padding:10px 0px 20px !important;
}
.row.selectIcon select{
	    padding-right:28px;
	}


.header{min-height: 53px;}

.header td{padding:12px;}



.header td:first-child{width:16%;}



.header td:last-child{width:16%;}


.header td.settings img{width:22px;}
.header td.filter img{width:40px;}


.header td.taxi img{width:40px;}



.header td.title img{height:22px;}



.header td .lang{ right:62px; top:8px; font-size:16px; height:40px; width:40px; line-height:40px; }



.header td.title h2{font-size:20px;}







.body{top:53px;}
.stdName,
.attendance .row .l{
    font-size:17px;
}
.custom-add {
    margin-top: 65px;
}









.footer td{padding:8px;  height: 35px;}



.footer .btn-edit {	border-radius:2px;	padding:7px 15px;	}
.footer .btn-edit img {	width:18px;	vertical-align:-2px;	margin:0 10px 0 0;}

.footer .btn-cancel{font-size:18px;	border-radius:2px;	padding:7px 15px;	margin-right:10px;}
.footer .btn-cancel img {width:18px;	vertical-align:-2px;	margin:0 10px 0 0;}

.footer .btn-pickltr{ font-size:20px; border-radius:1px; padding:8px 18px;}



.footer .btn-pickltr img{width:40px; vertical-align:-12px; margin:0 0 0 10px;}



.footer td img{width:28px; margin:2px 0;}



.footer .btn-end-request{font-size:28px; border-radius:3px; padding:5px 18px;}



.footer .btn-end-request img{width:34px; vertical-align:-6px; margin:0 4px 0 0;}






.classes .class-thumb{  height:170px; }
.classes .class-thumb .class{ padding:5px; margin-bottom:3px;}
.classes .class-thumb .no{ 
	border-radius:50px;  
	font-size:25px;
	background-size: 100px;
	font-size: 18px;
   line-height: 115px;
}
.classes .class-thumb .month {padding:6px; font-size:18px;}





.login .logo img{width:110px;}
.login .logo img.app-logo {width:75px;}
.login .container{padding:50px 70px 50px;}
.login .container .flds .row{ padding:10px;}
.login .btn-login{ padding:10px 0; width:100%;   margin-top:0px; font-size:24px;}
.login .forget-pass{padding:18px;}

.callender{padding:12px;}
.fc-border-separate tbody tr.fc-first td, .fc-border-separate td { height: 70px;}
.fc-grid .fc-state-highlight .fc-day-number {height:70px; line-height: 70px;}


.header .btn-edit {font-size:18px;	border-radius:2px;	padding:6px 12px;	right:17%; top:16%;}
.header .btn-edit img {	width:17px;	vertical-align:-1px;	margin:0 10px 0 0;}
.header .btn-cancel{font-size:18px;	border-radius:2px;	padding:8px 17px;	right:8%; top:16%;}
.header .btn-cancel img {width:17px;	vertical-align:-1px;	margin:0 10px 0 0;}



/*.attendance .heading .no .img{ left:4%;}*/
.attendance .heading .no .img img{width:18px;}
.attendance .heading .no .img{
   top: 1px;
   margin-left: -30px;
}

/*User Profile*/
.alluser-profile{ top:56px; bottom:54px; }
.alluser-profile .profile-info{ padding:12px; }
.alluser-profile .profile-info .photo{width:110px; height:110px; border:solid 6px #f7f7f7;  margin-right:18px;}


.header .ico-user{ right:11%; top:14px;}

/*Inbox*/
.inbox .row-mail{ padding:8px 15px; margin-bottom:3px;}
.inbox .row-mail .photo{ 
	width:40px;
	height:40px;
	font-size:26px;
	line-height:42px;
	border-radius: 50%;
}
.inbox .row-mail .info{ width:80%; }
.inbox .row-mail .info .date{ font-size:14px;}
.body.footer-space{
    bottom: 47px;
}
.compose .fld label{
    width: 155px;
}

/*user popup*/
/*.right-menu{ border:1px solid blue;}*/
.right-menu .user-name-bg{padding:20px; font-size:32px;}
.right-menu .user-logo img{width:100px;}
.right-menu .links a{ padding:12px; font-size:20px;}
.right-menu .links a:hover{background:#fda61b; color:#fff;}
.right-menu .links a img{width:32px; vertical-align:-12px; margin:0 10px 0 30px;}
.sign-out{ padding:13px;font-size:20px;}
.sign-out img{width:28px; vertical-align:-6px; margin:0 8px;}


.body.callender .custom-bar{height: 53px; ; margin: 1px -12px;}

	.price-wrapper ul {
	   padding: 50px 20px !important;
	}
	.price-block .price-header p {
	   font-size: 14px !important;
	   letter-spacing: 0px !important;
	}
	.price-box .content .price {
	   font-size: 50px !important;
	}
	.price-block .price-box .content {
	    top:45px !important;
	}
	.price-box .content .price span {
	   font-size: 16px !important;
	}
	.price-block .price-box {
	    height: 135px !important;
	}

}

@media only screen and (min-width: 480px) and (max-width: 600px) {
	.row.selectIcon select {
	    padding-right: 22px;
	}
}