@charset "utf-8";



/* CSS Document */







/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */



@media only screen and (max-width: 479px) {







body{font-size:15px;}
.row.selectIcon select {
	   padding-right:20px;
	   padding-top: 5px;
	   padding-bottom: 5px;
}
.stdName,
.attendance .row .l{
    font-size:17px;
}
.login .container .flds .row input {
    padding: 0px 5px;
}



.attendance .heading .no .img {
    top: 0px;
    margin-left: -25px;
}





.header{min-height: 43px;}
.header td{padding:8px;}



.header td.settings img{width:20px;}
.header td.filter img{width:33px;}


.header td.taxi img{width:33px;}



.header td.title img{height:19px;}



.header td .lang{ right:48px; top:6px; font-size:15px; height:33px; width:33px; line-height:33px; }



.header td.title h2{font-size:18px;}







.body{top:42px; bottom: 44px;}







.footer td{padding:6px; height: 30px;}



.footer .btn-edit {	border-radius:2px;	padding:6px 15px;}
.footer .btn-edit img {	width:15px;	vertical-align:-2px;	margin:0 10px 0 0;}
.footer .btn-cancel{font-size:15px;	border-radius:2px;	padding:6px 15px;	margin-right:5px;}
.footer .btn-cancel img {	width:15px;	vertical-align:-2px;	margin:0 10px 0 0;}


.footer .btn-pickltr{ font-size:16px; border-radius:1px; padding:8px 18px;}



.footer .btn-pickltr img{width:33px; vertical-align:-10px; margin:0 0 0 10px;}



.footer td img{width:26px; margin:2px 0;}



.footer .btn-end-request{font-size:24px; border-radius:3px; padding:4px 16px;}



.footer .btn-end-request img{width:30px; vertical-align:-6px; margin:0 4px 0 0;}






.classes .class-thumb{  height:140px; }
.classes .class-thumb .class{ padding:2px; margin-bottom:1px;}
.classes .class-thumb .no{ 
	background-size: 80px;
   font-size:15px;
   line-height: 90px;
   font-weight: bold
}
.classes .class-thumb .month {padding:3px; font-size:16px; margin-top: 5px}




.attendance .row .l{line-height:18px; padding: 2%;  background-size:9px;}
.attendance .row .chk.giveAttendanceChk{padding: 5% 1%;}


.login .logo img{width:70px;}
.login .logo img.app-logo {width:55px;}
.login .container{padding:15px;}
.login .container .flds .row{ padding:10px;}
.login .btn-login{ padding:5px 0; margin-top:2px; font-size:18px;}
.login .container {
    padding:30px 40px;
}
.login .forget-pass{padding:7px; margin-left: 4px; }



.fc-header-title h2{font-size:18px;}

.callender{padding:10px;}

.fc-border-separate tbody tr.fc-first td, .fc-border-separate td {height: 50px;}
    .fc-grid .fc-state-highlight .fc-day-number {height:50px;line-height: 50px;}




/*--------------------------------ON/OFF slider-------------------------------------------*/

.onoffswitch {    position: relative; width: 56px;    }
.onoffswitch-checkbox {    display: none;    }
.onoffswitch-label {    display: block; overflow: hidden; cursor: pointer; position:relative;    border-top-left-radius: 31px; border-top-right-radius: 31px; border-bottom-left-radius: 31px; border-bottom-right-radius: 31px; width:56px;  height:30px;  }
.onoffswitch-inner {   width: 56px; position:absolute; height:30px;  left:-60px; top:0;    -moz-transition:  0.5s; -webkit-transition:  0.5s;    -o-transition:  0.5s; transition: 0.5s;    }
.onoffswitch-label .bar{background:#fff; width:26px; height:26px; position:absolute; right:-32px; top:2px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; -moz-transition:  0.5s; -webkit-transition:  0.5s;    -o-transition:  0.5s; transition: 0.5s;}

.login .remember{padding:6px; line-height:30px; margin-top:4px;}
.user .info .row label{width:90px;}


.header .btn-edit {font-size:16px;	border-radius:2px;	padding:7px 12px;	right:16%; top:16%; line-height:1;}
.header .btn-edit img {	width:15px;	vertical-align:-1px;	margin:0 10px 0 0;}
.header .btn-cancel{font-size:16px;	border-radius:2px;	padding:7px 12px;	right:8%; top:16%; line-height:13px;}
.header .btn-cancel img {width:15px;	vertical-align:-1px;	margin:0 10px 0 0;}



.attendance .heading .no .img{
	top: 2px;
   margin-left: -26px;
}
.attendance .heading .no .img img{width:14px;}


/*User Profile*/
.alluser-profile{ top:45px; bottom:47px; }
.alluser-profile .profile-info{ text-align:center; }
.alluser-profile .profile-info .photo{width:110px; height:110px; }


.header .ico-user{ right:11%; top:9px;}

/*Inbox*/
.inbox .row-mail{ padding:7px 15px; margin-bottom:3px;}
.inbox .row-mail .photo{ width:40px; height:40px; font-size:23px; line-height:40px;border-radius: 50%}
.inbox .row-mail .info{ width:80%; }
.inbox .row-mail .info .date{ font-size:14px;}

.compose .fld{margin-bottom:2px; padding:5px 10px;}
.compose .fld textarea{  border-radius:3px;  height:250px;}
.body.footer-space{
    bottom: 40px;
}
.compose .fld label{
    width: 105px;
}


/*user popup*/
/*.right-menu{ border:1px solid green;}*/
.right-menu .user-name-bg{padding:15px; font-size:28px;}
.right-menu .user-logo img{width:90px;}
.right-menu .links a{ padding:10px; font-size:20px;}
.right-menu .links a:hover{background:#fda61b; color:#fff;}
.right-menu .links a img{width:32px; vertical-align:-12px; margin:0 10px 0 30px;}
.sign-out{ padding: 10px;  font-size: 18px;}
.sign-out img{width:28px; vertical-align:-6px; margin:0 8px;}

.add-slider{
    margin-top: 0px;
}
 .body.callender .custom-bar{height: 43px; ; margin: 1px -10px;}

	.price-wrapper ul {
	       padding: 30px 5px 40px !important;
	}
	.price-block .price-header p {
	   font-size: 14px !important;
	   letter-spacing: 0px !important;
	   font-weight: 500 !important;
	}
	.price-box .content .price {
	    font-size:40px !important;
	}
	.price-box .content .price span {
	    font-size: 14px !important;
	    font-weight: 500 !important;
	}
	.price-box .content .plan {
	   font-weight: 500 !important;
	   margin-top: 10px !important;
	   font-size:15px !important;
	   padding: 0px 5px;
	}
	.price-block .price-box .content{
	    top: 40px !important;
	}
	.price-block .price-box {
	   height: 130px !important;
	}
	.purchase-button button {
	    top: -15px !important;
	    padding: 4px 20px !important;
	 }
	.login .logo {
	   padding: 60px 20px 30px;
	}
	.custom-add {
	    margin-top: 50px;
	}
	#contactMain{
		padding-top: 70px !important;
		padding: 70px 10px 50px !important
	}
	.contact form input, .contact form textarea{
		font-size: 16px !important;
		padding: 15px 20px !important;
	}
	.contact form textarea {
	    min-height: 110px !important;
	}
	.about p {
	   font-size: 14px !important;
	}
	.about-block ul li {
	   font-size: 14px !important;
	}
	.about-block ul li:before {
	    width: 5px !important;
	    height: 5px !important;
	    top: 7px !important;
	}
	#post {
	    padding:7px 0px 10px !important;
	}


}

@media only screen and (max-width: 420px) {
	.about-block h2 {
	    font-size: 14px !important;
	}
	.about p {
	   font-size: 13px !important;
	}
	.about-block ul li {
	   font-size: 13px !important;
	}


	.price-block{
		margin: 0px 4px !important
	}
	.price-block .price-box {
	    height:95px !important;
	}
	.price-block .price-box .content {
	    top: 28px !important;
	}
	.price-box .content .price {
	    font-size: 30px !important;
	}
	.price-box .content .price span {
	    font-size: 12px !important;
	    font-weight: 600 !important;
	    top: -1px !important;
	}
	.price-box .content .plan {
	    font-weight: 500 !important;
	    margin-top: 5px !important;
	    font-size: 12px !important;
	}
	.purchase-button button {
	    font-size: 12px !important;
	    font-weight: 500 !important;
	 }
	 .row.selectIcon select {
		   padding-right:18px;
	}
}
@media only screen and (max-width: 375px) {

	.price-block{
		margin: 0px 3px !important
	}
	.price-block .price-header p {
    	font-size: 11px !important;
 	}
	.price-block .price-box {
	    height:90px !important;
	}
	.price-block .price-box .content {
	    top:22px !important;
	}
	.price-box .content .price {
	    font-size:25px !important;
	}
	.price-box .content .price span {
	    font-size: 11px !important;
	}
	.price-box .content .plan {
	    font-size: 11px !important;
	}
	.purchase-button button {
	    font-size: 10px !important;
	}

	.login .container {
	    padding: 30px 20px;
	}


	.classes .class-thumb {
	    height: 135px;
	}
	.classes .class-thumb .no {
	    background-size: 75px;
	    font-size: 14px;
	    line-height: 85px;
	    font-weight: bold;
	}
}
@media only screen and (max-width:360px) {
	.price-wrapper ul {
	    padding: 25px 5px !important;
	}
	.price-block{
		margin: 0px 2px !important
	}
	.price-block .price-header p {
    	font-size:10px !important;
 	}
	.price-block .price-box {
	    height:80px !important;
	}
	.price-block .price-box .content {
	    top:18px !important;
	}
	.price-box .content .price {
	    font-size:22px !important;
	}
	.price-box .content .price span {
	    font-size:10px !important;
	}
	.price-box .content .plan {
	    font-size:10px !important;
	}
	.purchase-button button {
	    font-size:9px !important;
	}
}